<div style="
        background-color: #666666;
        display: flex;
        flex-direction: row;
        width: 100vw; 
        height: 8vh;
        padding-left: 1vw;">
    <div style="font-size: 36px;"><b>Minerva</b></div>
    <div *ngFor="let item of navbarItems" style="padding: 1vw;">
        <div>
            <span (click)="showPageInConatiner(item.name)" style="text-decoration: none; color: white;">
                {{item.title}}
            </span>
            <div *ngIf="currentPath==item.name" class="selectedScreenDecoration"></div>
        </div>
    </div>
</div>