@import "~@ng-select/ng-select/themes/default.theme.css";

#siteSearchContentScreen{
    width: 100vw;
    height: 90vh;
    padding: 1vw;
}
.allInputFields{
    display: flex;
    flex-direction: row;
    padding-left: 2vh;
}
.inputFieldLabel{
    font-size: 20px;
    padding-left: 10%;
    padding-bottom: 10%;
}
.inputField{
    margin-right: 5%;
}
#territoryDropdown, #continentDropdown, #countryDropdown, #regionDropdown{
    max-width: 30vh;
    max-height: 6vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
#updateSelectedRegionButton, #resetSelectedRegionButton{
    height: 5vh;
    width: 20vh;
}
.inputFieldButton{
    padding-top: 4vh;
}